{% extends "layout.html" %}
{% block content %}

<h2>Quelques tuyaux pour l'enregistrement</h2><br>
Pour contribuer à ce site, vous pouvez envoyer votre propre extrait sonore.<br>
L'enregistrement nécessite surtout un environnement très calme.<br>
L'équipement peut être un dictaphone, l'application "Dictaphone" ou "Enregistreur vocal" d'un téléphone ou simplement l'ordinateur.<br>
<br>
<b>Pour enregistrer avec l'ordinateur (PC):</b><br>
<ol>
<li>Démarrer l'enregistreur en cherchant "Enregistreur vocal" dans la barre de recherche, puis lancer l'application
<li>Démarrer l'enregistrement en cliquant sur le microphone.
<li>Lisez le texte à voix haute en évitant de lire trop vite.
(Si vous butez sur un mot, vous pouvez recommencer la phrase complète, je couperai la partie indésirable.)
<li>Stoppez l'enregistrement en cliquant sur le carré central.
<li>Ecouter en cliquant sur la flèche noire (Play).
<li>Si l'enregistrement ne vous convient pas, recommencer en cliquant de nouveau sur le microphone.
<li>Vous pouvez accéder à l'emplacement du fichier ainsi: ... (en bas à droite) > Ouvrir l'emplacement du fichier
</ol>
<a href='https://support.microsoft.com/fr-tn/help/4028308/windows-10-how-to-use-voice-recorder'>Cette page d'aide </a> peut vous être utile avec Windows 10.<br><br>

<b>Pour enregistrer avec l'ordinateur (Mac):</b>
<ol>
<li>Démarrer l'enregistreur par : Finder > Applications > QuickTime Player
<li>Dans l'application, sélectionner: Fichier > Nouvel enregistrement audio
<li>Démarrer l'enregistrement en cliquant sur le bouton rouge.
<li>Lisez le texte à voix haute en évitant de lire trop vite.
(Si vous butez sur un mot, vous pouvez recommencer la phrase complète, je couperai la partie indésirable.)
<li>Stoppez l'enregistrement en cliquant sur le carré noir.
<li>Ecouter en cliquant sur la flèche noire (Play).
<li>Si l'enregistrement ne vous convient pas, recommencer à l'étape 2.
<li>Sauver le son: Menu Fichier > Enregistrer... (peu importe le format)
</ol>

Puis envoyez le fichier sonore par mail <a href=mailto:jeanphilippegoldman@gmail.com>jeanphilippegoldman@gmail.com</a><br>

Merci de vos contributions.<br><br>


{% endblock content %}
